# environments (credentials and .env file)
env/
.env

# credentials (block GCP key JSON but allow outputs/)
*.json
!outputs/*.json

# data (csv files)
data/

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# dbt
target/
dbt_packages/
logs/